################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.suo
/*/*/obj
/*/*/bin
BloggerDocuments/.vs/BloggerDocuments/v15/.suo
*.ide
*.ide
BloggerDocuments/BloggerDocuments.Tests/obj/project.assets.json
